@import 'base';
@import 'layouts/page';
@import 'components/header';
@import 'components/buttons';
@import 'components/menu';

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.sam {
    margin-bottom: 2em;
}