@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$ff : 'Poppins', sans-serif;

h1 { text-align: center; display: block; margin: auto; }
h2 { font-weight: 600; }